@font-face{ font-family: 'custfont';
    src: url('Bold_Dragon_Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

h2{font-family: 'custfont', Arial, sans-serif;
color: rgb(23, 0, 155);
text-align: center;
font-size: 35px;}

.header {
  position: fixed;
  top: 15px;
  right: 0;
  left: 0;
  height: 75px;
}
.img-logo {
    position: fixed;
    top: 15px;
    left: 5px;
    right: 0;
}
.container {
  margin-top: -20px; 
  padding: 20px; 
  margin-left: 150px;
}


h1 {font-family: 'custfont', Arial, serif;
color: red;
text-align: center;
font-size: 75px;}


.main-sec { 
    position: fixed;
    left: 10px;
    top: 300px;
}